body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #969696;
}
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  width: 300px;
}
.card:hover {
  transform: translateY(-5px);
 box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
